@import "./navBar.css";
@import "./main.css";
@import "./footer.css";
@import "./itemCount.css";
@import "./form.css";

:root {
  --colorDorado: #ed9d18;
  --colorBordo2: #74091e;
  --colorVioleta: rgba(160, 20, 79, 1);
  width: 100%;
}

.card {
  min-width: 7em;
  min-height: 5em;
  font-size: 1rem;
}

.card-title {
  font-size: 1em;
  font-style: bold;
}

.flex {
  width: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.itemListContainer {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.boxDetail {
  width: 50%;
}
