@import "./navBar.css";
@import "./main.css";
@import "./footer.css";
@import "./itemCount.css";

:root {
  --colorDorado: #ed9d18;
  --colorBordo2: #74091e;
}

.card {
  max-width: 20rem;
}

.fa-shopping-cart {
  margin-right: 1em;
  color: var(--colorDorado);
  font-size: 35px;
}

.lista {
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  text-align: end;
  background-color: var(--colorBordo2);
  color: var(--colorDorado);
}

.flex {
  display: flex;
  flex-direction: row;
}
